/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Strong cyan: hsl(172, 67%, 45%)

### Neutral

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Very light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (form inputs): 24px

### Font

- Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
- Weights: 700 */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Azeret Mono', monospace;
    background-color: #C5E4E7;
}

/* TEXT */

.header {
    color: #6C7675;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}


/* FORM */
label {
    color: #6C7675;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}

input {
    background-color: #F3F8FB;
    color: #003637;
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Azeret Mono', monospace;
    font-size: 18px;
    text-align: right;
}



.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 150px;
    margin: 20px;
}

.main-card-div {
    background-color: #ffffff;
    width: 100%;
    padding: 40px;
    border-radius: 20px 20px 0px 0px;
    
}

.bill-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.tip-options-main-div {
    margin-bottom: 20px;
}

.tip-options-div {
    display: flex;
    flex-wrap: wrap;

}

.tip-option {
    background-color: #00474A;
    color: #ffffff;
    border-radius: 5px;
    width: 45%;
    padding: 10px;
    margin: 5px 5px 5px 2.5px;
}

.tip-option:active {
    color: #00474A;
    background-color: #26C2AD;
}

.tip-option:hover {
    color: #00474A;
    background-color: #26C2AD;
}


.tip-percentage-text {
    text-align: center;
    font-weight: 700;
}

.num-people-main-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.results-main-div {
    background-color: #00474A;
    padding: 20px;
    border-radius: 20px;
}

.results-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.result-h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 3px;
}
.result-p {
    color: #94adaa;
    font-size: 12px;
}

.result-number {
    color: #26C2AD;
    font-size: 24px;
    font-weight: 700;
}

button {
    border: none;
    padding: 12px 20px;
    width: 100%;
    display: block;
    border-radius: 5px;
    font-family: 'Azeret Mono', monospace;
    font-weight: 600;
    color: #00474A;
    background-color: #26C2AD;
    font-size: 18px;
}

.selected-tip {
    color: #00474A;
    background-color: #26C2AD;
}

.responsive-div {
    display: block;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .main-card-div {
        background-color: #ffffff;
        width: 100%;
        padding: 40px;
        border-radius: 20px;
        max-width: 800px;
    }

    .responsive-div {
        display: flex;
    }

    .responsive-div>div {
        width: 50%;
    }

    .results-main-div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
    }
  }